/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container {
    padding: 1px 10%;
}

/* Estilos del header */
.top-banner {
    background-color: coral;
}

.nav-bar {
    background-color: #333;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

.img-header {
    background-image: url(/Ejercicio5/img/miguel-lindo-EqkbZ-Qcl9o-unsplash.jpg);
    text-align: center;
    background-position: center top;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    background-size: cover;
}

.img-header h1 {
    font-size: 3em;
    line-height: 1.6em;
    margin: 50px;
}

/* Estilos del body*/
section {
    overflow: hidden;
}

.text-content {
    color: #333;
    padding-top: 10px;
    float: left;
    width: 60%;
}

.side-content {
    background-color: #333;
    float: right;
    width: 30%;
    padding: 10px;
}



/* Estilos del footer */
.footer-style {
    background-color: #333;
    text-align: center;
    width: 100%;
    padding: 20px;
}
/* Media queries */

@media only screen and (max-width: 768px) {
    .text-content, .side-content {
        width: 100%;
        float: none;
    }

    .footer-style {
        margin-top: 20px;
    }

    .img-header h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin: 20px;
    }

    .nav-bar li {
        display: block;
        margin-top: 15px;
    }

}