/*---------- CSS Resets ----------*/
:root {
  --purple-light:#7e3af2;
  --purple-dark: #6c2bd9;
  --orange-light: #feecdc;
  --orange-dark: #ff5a1f;
  --blue-light: #e1effe;
  --blue-dark: #3f83f8;
  --green-light: #def7ec;
  --green-dark: #0e9f6e;
  --teal-light: #d5f5f6;
  --teal-dark: #0694a2;
  --red-light: #fde8e8;
  --red-dark: #e02424;
  --gray-light: #f4f5f7;
  --gray-dark: #24262d;
}

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Body default settings */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--gray-light);
}

/*---------- General styles ----------*/
.purple-color {
  color: var(--purple-light);
}
.none {
  display: none;
}

.padding {
 padding-left: 1em;
 padding-top: 0.5em;
}

.grid-template-btns i {
  margin-right: 15px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.radius {
  border-radius: 5px;
  border: 1px solid rgba(205, 204, 204, 0.608);
}

.box  {
  margin-top: 2em;
  background-color: white;
  height: 90px;
  width: 220px;
}
.box:hover {
  cursor: pointer;
  border: 1px solid var(--gray-dark);
}

.small-font{
  font-size: 0.9em;
}

.font-bold {
  font-weight: bold;
}

/*---------- Header Styles Starts----------*/
header {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-icons img {
  border-radius: 50%;
}

.header-icons > i {
  display: flex;
  justify-content: center;
}

.header-icons > i > div.red-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--red-dark);
}

.input-search {
  border: 0;
  width: 400px;
  height:30px;
  background-color: var(--gray-light);
  padding-left: 25px;
}

.input-field {
  position: relative;
}

.glass-icon {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  padding-left: 5px;
}
/*---------- Header Styles Ends----------*/
/* Aside style */
aside {
  max-width: 250px;
  min-width: 250px;
  background-color: white;
  height: 100vh;
}

aside a {
  padding:1em;
}

aside  a  {
  display: block;
  text-decoration: none;
  color: rgb(98, 98, 98);
}

aside a:hover {
  border-left:5px solid var(--purple-dark);
  color: var(--gray-dark);
}

aside > nav > a > span {
  font-size: medium;
}

.btn-product {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.addProduct-button {
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content:space-between;
  border: none;
  border-radius: 10px;
  background-color: var(--purple-light);
  color: white;
  cursor: pointer;
}

/* Main content Style */
main {
  display: grid;
  grid-template-columns: 250px 1fr;
}

#main-content {
  padding: 3em;
  width: 1280px;
}

.dashboard-button {
  margin-top: 1em;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  border: none;
  border-radius: 10px;
  background-color: var(--purple-light);
  color: white;
  cursor: pointer;
}
/* Grid Divs Styles */
.grid-template-btns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.total-clients i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange-dark);
  background-color: #ffe8cd;
  height: 30px;
  width: 35px;
  border-radius: 50%;
}

.account-balance i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange-dark);
  background-color: #d2f4e7;
  height: 30px;
  width: 35px;
  border-radius: 50%;
  color: var(--green-dark);
}

.new-sales i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange-dark);
  background-color: #c3e3fd;
  height: 30px;
  width: 35px;
  border-radius: 50%;
  color: var(--blue-dark);
}

.pending-contacts i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b5ffff;
  height: 30px;
  width: 35px;
  border-radius: 50%;
  color: var(--teal-dark);
}

.grid-template-btns span {
  font-size: small;
  font-weight: bold;
  color: rgb(185, 185, 185);
}

.grid-template-btns > div span > pre {
  font-weight: bold;
  color: var(--gray-dark);
  font-size: x-large;
}
pre {
  color: gray;
}

/* Table styles */
#table-section {
  margin-top: 3em;
  border: 1px;
}

#table-data {
  width: 100%;
  background-color: white;
}

.left {
  text-align: left;
  width: 400px;
}

.center {
  text-align: center;
}

.table-head {
  margin-bottom: 100px;
  border-bottom:1px solid rgba(205, 204, 204, 0.608);
  background-color: var(--gray-light);
}

.status-width {
  width: 200px;
}

.status {
  background-color: var(--green-light);
  width: 1px;
  height: 50px;
  padding: 1em;
}

.status-approved {
  font-size: small;
  font-weight: bold;
  color: var(--green-dark);
}

.status-denied-background {
  background-color: var(--red-light);
  padding: 1em;
}

.status-denied {
  font-size: small;
  font-weight: bold;
  color: var(--red-dark);
}

.status-expired {
  font-size: small;
  font-weight: bold;
  color: var(--gray-dark);
}

.status-expired-background {
  background-color: var(--gray-light);
  padding: 1em;
}
