/* Estilos generales */
* {
    font-family: Inter, system-ui, Helvetica, Arial;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.radius {
    border: 1px solid rgb(184, 182, 182);
    border-radius: 15px;
}

.content-container input, .content-container a, .content-container button {
    display: block;
    margin-bottom: 15px;
}