/* Estilos generales */
:root {
    --purple-light:#7e3af2;
    --purple-dark: #6c2bd9;
    --orange-light: #feecdc;
    --orange-dark: #ff5a1f;
    --blue-light: #e1effe;
    --blue-dark: #3f83f8;
    --green-light: #def7ec;
    --green-dark: #0e9f6e;
    --teal-light: #d5f5f6;
    --teal-dark: #0694a2;
    --red-light: #fde8e8;
    --red-dark: #e02424;
    --gray-light: #f4f5f7;
    --gray-dark: #24262d;
}

* {
    font-family: Inter, system-ui, Helvetica, Arial;
    box-sizing: border-box;
}

body {
   background-color:var(--gray-light);
   height: 100vh;
   display: flex;
   
   align-items: center;
}

.border {
    border: 2px solid var(--gray-light);
    border-radius: 10px;
}

.radius {
    border-radius: 15px;
}

.img-container {
    background-image: url(/EJERCICIO-FINAL/img/login-photo-M.jpg);
    width: 60%;
    background-size: cover;
    border-top-left-radius: 15px;
}

.main-container {
    background-color:white;
    margin:0 auto;
    max-width:1200px;
    width: 95%;
    height: 600px;
    box-shadow: 5px 5px 10px rgb(184, 182, 182);

    display: flex;
}

.form {
    width: 40%;
    padding: 30px;
}

.form button, .form input {
    background-color: white;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
    height: 4em;
    padding: 10px;
}

.form button:hover {
    background-color: var(--gray-light);
    cursor: pointer;
}

#loginbutton {
    background-color: var(--purple-light);
    cursor: pointer;
    color: white;
}

#loginbutton:hover {
    background-color: var(--purple-dark);
}


a {
    color: var(--purple-light);
    text-decoration: none;
    
}

a:hover {
  color: rgba(109, 4, 228, 0.979);
}

#no-pass {
    margin-bottom: 0.5em;
}

.form h2 {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
}

span {
    margin-left: 5px;
}


/* Media Queries */

@media screen and (max-width: 700px) {
    
    .main-container {
        display: flex;
        max-height: 1200px;
        flex-direction: column;
        width: 80%;
        overflow: hidden;
    }

    .form {
        width: 100%;
        height: 70%;
        padding-top: 10px;
        float: right;
    }

    .form button, .form input {
        background-color: white;
        display: block;
        margin-bottom: 15px;
        margin-top: 5px;
        width: 100%;
        height: 3em;
        padding: 10px;
    }

    .form h2 {
        margin-top: 10px;
        text-align: center;
    }

    .img-container {
        height: 20%;
        width: 100%;
    }

}
